# Each line is a component followed by one or more owners. 

*                        @GuoRentong @neza2017 @czs007
/.github/workflows/      @jeffoverflow
/.jenkins/modules/       @jeffoverflow
/build/                  @jeffoverflow
/cmd/                    @czs007 @scsven
/deployments/            @jeffoverflow
/docs/                   @GuoRentong
/githooks/               @jeffoverflow
/internal/*              @czs007
/internal/core/          @GuoRentong @shengjun1985
/internal/datanode/      @sunby @neza2017 @czs007
/internal/dataservice/   @sunby @neza2017 @czs007
/internal/distributed/*  @czs007 @neza2017
/internal/distributed/datanode/       @sunby @neza2017 @czs007
/internal/distributed/dataservice/    @sunby  @neza2017 @czs007
/internal/distributed/indexnode/      @czs007 @neza2017
/internal/distributed/indexservice/   @czs007 @neza2017
/internal/distributed/masterservice/  @neza2017 @czs007
/internal/distributed/proxynode/      @czs007 @neza2017
/internal/distributed/proxyservice/   @czs007 @neza2017
/internal/distributed/querynode/      @xige-16 @neza2017 @czs007
/internal/distributed/queryservice/   @xige-16 @neza2017 @czs007
/internal/kv/            @czs007 @scsven @neza2017
/internal/log/           @sunby @neza2017 @czs007
/internal/masterservice/ @neza2017 @czs007
/internal/msgstream/     @xige-16 @scsven @neza2017 @czs007
/internal/querynode/     @xige-16 @neza2017 @czs007
/internal/queryservice/  @xige-16 @neza2017 @czs007
/internal/storage/       @neza2017 @sunby @czs007
/internal/util/          @neza2017 @czs007 @xige-16 @scsven
/tests/                  @test-team
