[submodule "internal/core/thirdparty/knowhere"]
	path = internal/core/thirdparty/knowhere
	url = https://github.com/zilliztech/knowhere.git
	tag = fd532fb
[submodule "internal/core/thirdparty/milvus-common"]
	path = internal/core/thirdparty/milvus-common
	url = https://github.com/zilliztech/milvus-common.git
	tag = 5983a18
