# Each line is a component followed by one or more owners. 

# Global reviewer
*                        @scsven @shengjun1985

# Code
/sdk/                    @yhmo
/shards/                 @BossZou
/core/src/               @yhmo
/core/src/index/         @shengjun1985

# Test
/tests/                  @cydrain

# CMake Files
**/CMakeLists.txt        @scsven
*.cmake                  @scsven

