--extra-index-url https://test.pypi.org/simple/
pytest-cov==2.8.1
requests==2.26.0
scikit-learn==1.1.3
timeout_decorator==0.5.0
ujson==5.5.0
pytest==7.2.0
pytest-assume==2.4.3
pytest-timeout==1.3.3
pytest-repeat==0.8.0
allure-pytest==2.7.0
pytest-print==0.2.1
pytest-level==0.1.1
pytest-xdist==2.5.0
pymilvus==2.4.0.dev81
pytest-rerunfailures==9.1.1
git+https://github.com/Projectplace/pytest-tags
ndg-httpsclient
pyopenssl
pyasn1
pytest-html==3.1.1
delayed-assert==0.3.5
kubernetes==17.17.0
PyYAML==6.0
pytest-sugar==0.9.5
pytest-parallel
pytest-random-order

# for customize config test
python-benedict==0.24.3
timeout-decorator==0.5.0

# for bulk insert test
minio==7.1.5
npy-append-array==0.9.15

# for benchmark
h5py==3.8.0

# for log
loguru==0.6.0

# util
psutil==5.9.4
# for standby test
etcd-sdk-python==0.0.2
