# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

version: 0.1

#----------------------+------------------------------------------------------------+------------+-----------------+
# Server Config        | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# address              | IP address that Milvus server monitors.                    | String     | 0.0.0.0         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# port                 | Port that Milvus server monitors. Port range (1024, 65535) | Integer    | 19530           |
#----------------------+------------------------------------------------------------+------------+-----------------+
# deploy_mode          | Milvus deployment type:                                    | DeployMode | single          |
#                      |   single, cluster_readonly, cluster_writable               |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# time_zone            | Use UTC-x or UTC+x to specify a time zone.                 | Timezone   | UTC+8           |
#----------------------+------------------------------------------------------------+------------+-----------------+
server_config:
  address: 0.0.0.0
  port: 19530
  deploy_mode: single
  time_zone: UTC+8

#----------------------+------------------------------------------------------------+------------+-----------------+
# DataBase Config      | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# backend_url          | URL for metadata storage, using SQLite (for single server  | URL        | sqlite://:@:/   |
#                      | Milvus) or MySQL (for distributed cluster Milvus).         |            |                 |
#                      | Format: dialect://username:password@host:port/database     |            |                 |
#                      | Keep 'dialect://:@:/', 'dialect' can be either 'sqlite' or |            |                 |
#                      | 'mysql', replace other texts with real values.             |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# insert_buffer_size   | Buffer size used for data insertion.                       | Integer    | 1 (GB)          |
#                      | The sum of 'insert_buffer_size' and 'cpu_cache_capacity'   |            |                 |
#                      | must be less than system memory size.                      |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# preload_table        | A comma-separated list of table names that need to be pre- | StringList |                 |
#                      | loaded when Milvus server starts up.                       |            |                 |
#                      | '*' means preload all existing tables.                     |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
db_config:
  backend_url: sqlite://:@:/
  insert_buffer_size: 1
  preload_table:

#----------------------+------------------------------------------------------------+------------+-----------------+
# Storage Config       | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# primary_path         | Primary directory used to save meta data, vector data and  | Path       | /var/lib/milvus |
#                      | index data.                                                |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# secondary_path       | A semicolon-separated list of secondary directories used   | Path       |                 |
#                      | to save vector data and index data.                        |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_enable         | Enable MinIO storage or not.                               | Boolean    | false           |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_address        | MinIO storage service IP address.                          | String     | 127.0.0.1       |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_port           | MinIO storage service port. Port range (1024, 65535)       | Integer    | 9000            |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_access_key     | MinIO storage service access key.                          | String     | minioadmin      |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_secret_key     | MinIO storage service secret key.                          | String     | minioadmin      |
#----------------------+------------------------------------------------------------+------------+-----------------+
# minio_bucket         | MinIO storage service bucket name.                         | String     | milvus-bucket   |
#----------------------+------------------------------------------------------------+------------+-----------------+
storage_config:
  primary_path: @MILVUS_DB_PATH@
  secondary_path:
  minio_enable: false
  minio_address: 127.0.0.1
  minio_port: 9000
  minio_access_key: minioadmin
  minio_secret_key: minioadmin
  minio_bucket: milvus-bucket

#----------------------+------------------------------------------------------------+------------+-----------------+
# Metric Config        | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# enable_monitor       | Enable monitoring function or not.                         | Boolean    | false           |
#----------------------+------------------------------------------------------------+------------+-----------------+
# collector            | Connected monitoring system to collect metrics.            | String     | Prometheus      |
#----------------------+------------------------------------------------------------+------------+-----------------+
# port                 | Port to visit Prometheus, port range (1024, 65535)         | Integer    | 8080            |
#----------------------+------------------------------------------------------------+------------+-----------------+
metric_config:
  enable_monitor: false
  collector: prometheus
  prometheus_config:
    port: 8080

#----------------------+------------------------------------------------------------+------------+-----------------+
# Cache Config         | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# cpu_cache_capacity   | The size of CPU memory used for caching data for faster    | Integet    | 4 (GB)          |
#                      | query. The sum of 'cpu_cache_capacity' and                 |            |                 |
#                      | 'insert_buffer_size' must be less than system memory size. |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# cache_insert_data    | Whether to load inserted data into cache immediately for   | Boolean    | false           |
#                      | hot query. If want to simultaneously insert and query      |            |                 |
#                      | vectors, it's recommended to enable this config.           |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
cache_config:
  cpu_cache_capacity: 4
  cache_insert_data: false

#----------------------+------------------------------------------------------------+------------+-----------------+
# Engine Config        | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# use_blas_threshold   | A Milvus performance tuning parameter. This value will be  | Integer    | 1100            |
#                      | compared with 'nq' to decide if OpenBLAS should be used.   |            |                 |
#                      | If nq >= use_blas_threshold, OpenBLAS will be used, search |            |                 |
#                      | response times will be stable but the search speed will be |            |                 |
#                      | slower; if nq < use_blas_threshold, SSE will be used,      |            |                 |
#                      | search speed will be faster but search response times will |            |                 |
#                      | fluctuate.                                                 |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# gpu_search_threshold | A Milvus performance tuning parameter. This value will be  | Integer    | 1000            |
#                      | compared with 'nq' to decide if the search computation will|            |                 |
#                      | be executed on GPUs only.                                  |            |                 |
#                      | If nq >= gpu_search_threshold, the search computation will |            |                 |
#                      | be executed on GPUs only;                                  |            |                 |
#                      | if nq < gpu_search_threshold, the search computation will  |            |                 |
#                      | be executed on both CPUs and GPUs.                         |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
engine_config:
  use_blas_threshold: 1100
  gpu_search_threshold: 1000

#----------------------+------------------------------------------------------------+------------+-----------------+
# GPU Resource Config  | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# enable               | Enable GPU resources or not.                               | Boolean    | false           |
#----------------------+------------------------------------------------------------+------------+-----------------+
# cache_capacity       | The size of GPU memory per card used for cache.            | Integer    | 1 (GB)          |
#----------------------+------------------------------------------------------------+------------+-----------------+
# search_resources     | The list of GPU devices used for search computation.       | DeviceList | gpu0            |
#                      | Must be in format gpux.                                    |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
# build_index_resources| The list of GPU devices used for index building.           | DeviceList | gpu0            |
#                      | Must be in format gpux.                                    |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
gpu_resource_config:
  enable: true
  cache_capacity: 1
  search_resources:
    - gpu0
  build_index_resources:
    - gpu0

#----------------------+------------------------------------------------------------+------------+-----------------+
# Tracing Config       | Description                                                | Type       | Default         |
#----------------------+------------------------------------------------------------+------------+-----------------+
# json_config_path     | Absolute path for tracing config file.                     | Path       |                 |
#                      | Leave it empty, a no-op tracer will be created.            |            |                 |
#----------------------+------------------------------------------------------------+------------+-----------------+
tracing_config:
  json_config_path:
