milvus/
conf/server_config.yaml
conf/server_config.yaml.ori
conf/log_config.conf
src/config.h
src/version.h
lcov_out/
base.info
output.info
output_new.info
server.info
*.pyc
src/grpc/python_gen.h
src/grpc/python/
