.table {
    table-layout: fixed;
}

.table th,
.table td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;     /* Allow text to wrap onto the next line */
    overflow-wrap: break-word;
}

/*.table thead {*/
/*    background-color: #e9ecef; !* Set background color for table headers *!*/
/*}*/

/*.table-striped tbody tr:nth-of-type(odd) {*/
/*    background-color: #f8f9fa; !* Set background color for odd rows in striped tables *!*/
/*}*/

/*.table-hover tbody tr:hover {*/
/*    background-color: #e9ecef; !* Set background color for rows on hover *!*/
/*}*/

.row h2 {
    margin-top: 50px;
}

.separate-line {
    height: 1px;
    background-color: #000;
    margin: 40px 0;
}