--extra-index-url https://test.pypi.org/simple/
requests==2.32.0
urllib3==1.26.19
pytest==7.2.0
pyyaml==6.0
numpy==1.24.3
allure-pytest>=2.8.18
Faker==19.2.0
pymilvus==2.5.0rc108
scikit-learn~=1.5.0
pytest-xdist==2.5.0
minio==7.1.14
tenacity==8.1.0
# for bf16 datatype
ml-dtypes==0.2.0
