name: Coverage

on: [push]

jobs:
  upload-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Unit Test
        run: go test -gcflags="all=-l -N" -coverprofile=coverage.txt -timeout 30s -count 1 ./...
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: bytedance/mockey